
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    background-color: #f2e8db;
    color: #374151;
}

.container{
    max-width: 800px;
    width: 100%;
    background: #f9f2eb;
    padding: 25px 30px;
    border-radius: 10px;

}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
}


.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-items: center;*/
    /*width: 100%;*/
    background-color: #e7d6c7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}

form .user-details .input-box input{
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #374151;
    padding-left: 10px; 
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

form .user-details .input-box input:focus,
form .user-details .input-box input:valid{
    border-color: #374151;
}

label {
    float: inline-start;
    width: calc(20% - 20px);
    /*display: block;*/
    margin-top: 20px;
    margin-bottom: 10px;
    color: #374151;
    font-weight: bold;
}

button[type="submit"] {
    width: 20%;
    height: 50px;
    border: 1px solid;
    background: #f1be46;
    border-radius: 25px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover {
    border-color: #f3d183;
    transition: .1s;
}

button{
    margin: 20px 0;
    text-align: center;
    font-size: 16px;
    
}

/*NAVBAR CSS STARTS FROM HERE*/

.side-nav{
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.user div{
    display: none;
}

.user h2{
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}

.user-img{
    width: 40px;
    border-radius: 50%;
    margin: auto;
}

ul{
    list-style: none;
    padding: 0 15px;
}

ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul li img{
    width: 20px;
    margin-right: 0px;
}

ul li p{
    white-space: nowrap;
    display: none;
}

.side-nav:hover{
    width: 200px;
}

.side-nav:hover .user div{
    display: block;
}

.side-nav:hover .user{
    width: 100%;
}

.side-nav:hover .user{
    width: 90%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.side-nav:hover .user-img{
    margin: 0;
}

.side-nav:hover ul li p{
    display: block;
}

.side-nav:hover ul li img{
    margin-right: 10px;

}

.side-nav:hover ul li{
    justify-content: flex-start;
}

@media (max-width:284px){
    .container{
        max-width: 100%;
    }

    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar{
        width: 1px;
    }

    .side-nav{
        max-width: 100%;
    }
}


