<!DOCTYPE html>
<html lang="en", dir="'ltr">
<head>
    <meta charset="UTF-8">
    <title>Faculty Login Page</title>
    <link rel="stylesheet" href="/static/collegeerp/login.css">
</head>
<body>
    <div class="center">
        <h1>Faculty Login</h1>
        <form method="POST" action="#">
        {% csrf_token %}
            <div class="txt_field">
                <input type="text" id = 'femail' name="femail" required>
                <span></span>
                <label>Faculty Username</label>
            </div>
            <div class="txt_field">
                <input type="password" id="fpswd" name="fpswd" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass"><a href="/fac_forpass">Forgot Password?</a></div>
            <p> </p>
            <input type="submit" value="Login">
            <div class="login">
                Not a Faculty? <a href="/admin_login">Admin Login</a>
            </div>
        </form>
    </div>
    
</body>
</html>