<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/collegeerp/index.css">

</head>
<body>
    <div class="banner">
        <div class="navbar">
            <h1>Academix</h1>
        </div>
        <div class="content">
            <h1>Simplify Your Academic Journey</h1>
            <p>Streamline your college experience with our intuitive ERP portal. Manage courses, track attendance, view grades, and access resources effortlessly.<br> Stay connected, organised, and focused on your academic success.</p>
            <div>
                <a href="/slogin"><button type="button"><span></span>Student Login</button></a>
                <a href="/fac_login"><button type="button"><span></span>Faculty Login</button></a>
                <a href="/admin_login"><button type="button"><span></span>Admin Login</button></a>
            </div>
        </div>
    </div>
</body>
</html>