<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NavBar</title>
    <link rel="stylesheet" href="static/collegeerp/navbar.css">
</head>
<body>
        <!--NAVBAR-->
        <div class="header">
            <div class="side-nav">
                <div class="user">
                    <img src="static/collegeerp/images/user.png" class="user-img">
                    <div>
                        <!--<h2>{{fac.fname}} {{fac.lname}}</h2> -->
                    </div>
                </div>
                <ul>
                    <li><img src="static/collegeerp/images/dashboard.png"><p>Dashboard</p></li>
                    <li><img src="static/collegeerp/images/student.png"><p>Student Information</p></li>
                    <li><img src="static/collegeerp/images/report_card.png"><p>Academic Performance</p></li>
                    <li><img src="static/collegeerp/images/course.png"><p>Course Information</p></li>
                    <li><img src="static/collegeerp/images/notification.png"><p>Notifications</p></li>
                </ul>
                <ul>
                    <li><img src="static/collegeerp/images/logout.png"><p>Logout</p></li>
                </ul>
            </div>
        </div>
</body>
</html>