<!DOCTYPE html>
<html lang="en", dir="'ltr">
<head>
    <meta charset="UTF-8">
    <title>Student Reset Password</title>
    <link rel="stylesheet" href="/static/collegeerp/login.css">
</head>
<body>
    <div class="center">
        <h1>Student Reset Password</h1>
        <form method="POST" action="#">
        {% csrf_token %}
            <div class="txt_field">
                <input type="text" id = 'scemail' name="scemail" required>
                <span></span>
                <label>Student Username</label>
            </div>
            <div class="txt_field">
                <input type="password" id = 'ospswd' name="ospswd" required>
                <span></span>
                <label>Old Password</label>
            </div>
            <div class="txt_field">
                <input type="password" id = 'spswd' name="spswd" required>
                <span></span>
                <label>New Password</label>
            </div>
            <div class="txt_field">
                <input type="password" id = 'spswd1' name="spswd1" required>
                <span></span>
                <label>Confirm Password</label>
            </div>
            <!--
            <div class="pass">Back To Login</div> -->
            <input type="submit" value="Confirm">
            <div class="login">
                <p>  </p>
            </div>
        </form>
    </div>
    
</body>
</html>